<div>
    Enter GitHub username:
    <form>
        {{input class="center" action="submitName" onEvent="keypress" type="text" value=name autofocus="true"}}
        <button class="center" {{action 'submitName'}}>Submit</button>
    </form>
</div>
